table {
    margin: auto;
    border-collapse: collapse;
    border: solid 1px black;
}
tr {
    height: 50px;
    border: solid 1px black;
}
td {
    width: 200px;
    border: solid 1px black;
    text-align: center;
    padding: 0;
}
.inputs {
    display: block;
    width: 170px;
    margin: auto;
}   